.flex {
  display: flex;
  align-items: center;
  justify-content: center;
}
.flex-start {
  justify-content: flex-start;
}
.row {
  display: flex;
  flex-direction: row;
}
.shrink {
  flex-shrink: 0;
}
.space-between {
  justify-content: space-between;
}
.column {
  display: flex;
  flex-direction: column;
}
.spacer {
  flex-grow: 1;
}
.wrap {
  flex-wrap: wrap;
}
.nowrap {
  flex-wrap: nowrap;
}
.pd-15 {
  padding: 15px;
}
.mr-2 {
  margin-right: 2pz;
}
.mr-5 {
  margin-right: 5px;
}
.mr-10 {
  margin-right: 10px;
}
.mr-15 {
  margin-right: 15px;
}
.mb-15 {
  margin-bottom: 15px;
}
.h-50 {
  height: 50px;
}
.btn {
  cursor: pointer;
  padding: 5px 10px;
  color: #666;
}
.red {
  color: red;
}
.black {
  color: #333;
}
.gray {
  color: #666;
}
.grey {
  color: #999;
}